



body {
  margin: 0;
  padding: 0px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px;
}

.formulario{
  margin:0px;
  margin-top: 50px;
  width: 100vh;
}